body {
    background: linear-gradient(140deg,rgb(199, 206, 255) 0%, rgb(8, 51, 78) 25%, rgb(199, 206, 255) 50%, rgb(8, 51, 78) 75%, rgb(199, 206, 255) 100%);
}

.block {
    margin: 0.4% 0.4% 0.4% 0.4%;
    border-radius: 10px;
    background-color: rgb(213, 233, 253);
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
    -webkit-filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#title_and_reset {
    margin: 0.4% 0.4% 0.4% 0.4%;
    float: left;
    width: 18.2%;
    height: 4%;
}

/* TIME SELECTION COMPONENT */
#time_selection {
    float: left;
    width: 70.4%;
    height: 4%;
}

.triangle_selector {
    fill: rgb(0, 76, 153);
    stroke: rgb(0, 76, 153);
    stroke-width: 1;
    stroke-linejoin: round;
}
.triangle_selector.hover {
    stroke-width: 5;
}
.path_selector {
    fill: rgb(0, 76, 153);
    stroke: rgb(0, 76, 153);
    stroke-width: 4;
    stroke-linejoin: round;
}

/* BRANDS SELECTION COMPONENT */
#brands_selection {
    float: right;
    width: 9%;
    height: 36%;
    display: block;
    box-sizing: border-box;
}

#brands_selection_top {
    float: none;
    width: 100%;
    height: 10%;
    display: inline-block;
}

#selected_brands_div {
    float: none;
    width: 100%;
    height: 29%;
    display: block;
}

#selected_brands_svg {
    float: none;
    width: 100%;
    height: auto;
    min-height: 100%;
}

#unselected_brands_div {
    float: none;
    width: 90%;
    min-height: 60%;
    max-height: inherit;
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
}

#unselected_brands_svg {
    float: none;
    width: 100%;
    height: auto;
}

#form_div {
    overflow: scroll;
}

.brand_box {
    cursor: pointer;
}
.brand_box rect {
    stroke: black;
    stroke-width: 1px;
}
.brand_box.unselected_brand rect {
    fill: white;
}

/* LINE CHARTS */
#line_charts {
    width: 29%;
    height: 62.5%;
    float: left;
    display: block;
    box-sizing: border-box;
}

#line_chart1 {
    float: none;
    width: 100%;
    height: 50%;
    display: inline;
}
#line_chart2 {
    float: none;
    width: 100%;
    height: 50%;
    display: inline;
}

.brand_line {
    fill: none;
}
.brand_line:not(.selected) {
    stroke: darkgrey;
    stroke-width: 1px;
}
.brand_line.selected {
    stroke-width: 2px;
}
.brand_line.hover {
    stroke-width: 3px;
}
.brand_line.hover:not(.selected) {
    stroke: black;
}

.brand_line.dotted {
    stroke-dasharray: 4px;
}

.legend .brand_line {
    stroke-width: 2;
}

.hover_circle {
    stroke: black;
    fill: rgb(0, 76, 153);
    stroke-width: 1px;
}

/* SMALL MULTIPLES */
#small_multiples_line_chart {
    float: right;
    width: 59.5%;
    height: 30.5%;
}

.multiple .text_axis_title {
    cursor: pointer;
}
.multiple.selected .text_axis_title {
    font-weight: bold;
}

/* PARALLEL COORDINATES CHART */
#parallel_coordinates_chart {
    float: right;
    width: 69%;
    height: 30.5%;
}

.value_tick rect {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

#parallel_coordinates_chart .axis path {
    stroke: black;
    stroke-width: 1px;
}

#line_charts .brand_line.filtered:not(.selected) {
    opacity: 0.4 !important;
}
#small_multiples_line_chart .brand_line.filtered:not(.selected) {
    opacity: 0.4 !important;
}
#parallel_coordinates_chart .brand_line.filtered:not(.selected) {
    opacity: 0.1 !important;
}
/* GLYPH CHART */
#glyph_chart {
    float: left;
    width: 77%;
    height: 29%;
}

.phoneInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* SPIRAL CHART */
#spiral_chart {
    float: right;
    width: 21%;
    height: 29%;
}

.circle_point_axis {
    fill: rgb(0, 76, 153);
}
.circle_selector {
    fill: rgb(0, 76, 153);
    stroke: black;
}

.selection_axis {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

/* BUTTONS */
.button .buttonCircle {
    fill: darkgrey;
}
.button .backdropCircle {
    fill: rgb(213, 233, 253);
    fill-opacity: 1 !important;
}
.button.hover:not(.inactive) {
    cursor: pointer;
}
.button.hover:not(.inactive) .buttonCircle {
    fill: rgb(0, 76, 153) !important;
}
.inactive {
    opacity: 0.5;
}

/* TOOLTIPS */
.tooltip {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    position: absolute;
}
.tooltip p {
    padding: 0.2em;
    margin: 0;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tooltip_line text {
    font-size: 0.70em;
}

/* GENERAL TEXT */
text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.1em;
    font-weight: bold;
}

.text_module_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .80em;
    font-weight: 700;
}

.text_axis_title {
    text-anchor: middle;
    font-size: 0.80em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text_axis_ticks {
    font-size: 0.70em;
    text-anchor: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.text_legend {
    font-size: 0.70em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.text_left {
    text-anchor: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text_right {
    text-anchor: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text_brands {
    text-anchor: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.time_interval_rectangle{
    stroke: black;
    stroke-width: 1;
    border-style: dotted;
    fill: rgba(0, 76, 153, 0.2);
}

.text_center {
    text-anchor: middle;
}

.bold_on_hover:hover {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* CURSORS */
.hover-region {
    pointer-events: all;
}

.draggable {
    cursor: move;
}
.grabbable:not(.grabbing) {
    cursor: grab;
}
.grabbable.grabbing {
    cursor: grabbing;
}
.clickable {
    cursor: pointer;
}

/* GENERAL */
.hidden {
    visibility: hidden;
}